/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.logo {
	width: 25%;
	left: 0;
	right: none;
	margin-left: 5%;
	margin-right: none;
}
.titulossvg {
	
	left: auto;
	right: 5%;
	margin-left: none;
	margin-right: none;
	max-width: 400px;
	display: none
}
.vectores {
	display: inline-block;
	width: 25%;
}
.vectores7 {
	display: inline-block;
	max-width: 320px;
}
.vectores10 {
	display: inline-block;
	max-width: 240px;
}

/*IMAGENES*/

#img-1 > .bg {
	background-image : url(../img/01.jpg);
}

#img-2 > .bg {
	background-image : url(../img/02.jpg);
}

#img-3 > .bg {
	background-image : url(../img/03.jpg);
}

#img-4 > .bg {
	background-image : url(../img/04.jpg);
}

#img-5 > .bg {
	background-image : url(../img/05.jpg);
}

#img-6 > .bg {
	background-image : url(../img/06.jpg);
}

#img-7 > .bg {
	background-image : url(../img/07.jpg);
}

#img-8 > .bg {
	background-image : url(../img/08.jpg);
}

#img-9 > .bg {
	background-image : url(../img/09.jpg);
}

#img-10 > .bg {
	background-image : url(../img/10.jpg);
}



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.logo {
	width: 25%;
	max-width: 250px;
	left: 0;
	right: none;
	margin-left: 4%;
	margin-right: none;
}
nav {
	right: 5%;
}
.titulossvg {
		left: auto;
	right: 5%;
	margin-left: none;
	margin-right: none;
	max-width: 400px;
}
.vectores {
	max-width: 250px;

}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }